/* Headings */

:root {
    --default-font-size: 1rem;
    font-size:var(--default-font-size);

    --black: #000000;
    --white: #FFFFFF;
    --light: rgba(0, 0, 0, 0.49);
    --code-bg: rgba(255, 255, 255, 0.66);
    --code-color: rgb(30, 30, 30);
    --light-pink-1: #ff70a2;
    --light-pink-2: #bb5cff;

}

html[data-theme='dark'] {
    --code-bg: rgba(44, 44, 44, 0.46);
    --black: #FFFFFF;
    --white: #000000;
    --light: rgba(255, 255, 255, 0.49);
    --code-color: rgb(220, 220, 220);
    --light-pink-1: #ffc7e0;
    --light-pink-2: #eacdff;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: bolder;
    background-image: linear-gradient(to right, #e85db1, #c675f9);
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    width: fit-content;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    /*color: #d5a1ff;*/
    font-weight: bold;
    padding-top: 0.5rem;
}

/* Text */

strong {
    background-image: linear-gradient(to right, var(--light-pink-1), var(--light-pink-2));
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}

/* Images */

.img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.img-text{
    font-style: italic;
    color: rgba(255, 255, 255, 0.66);
}

img{
    margin: 0 auto;
    width: 30rem;
    padding-bottom: 0.5rem;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.4);
}

/* Tables */

table {
    width: fit-content;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.46);
    border: .2rem solid rgba(132, 127, 151, 0.78);
    border-radius: 0.1rem;
}

td{
    width: 3rem;
    height: 3rem;
    font-family: monospace;
    border: .1rem solid var(--light);
    text-align: center;
    padding: 0.5rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.03);
}

td strong {
    text-shadow: 0 0 1rem #ffc9c9;
    font-size: 1rem;

}

/* Code */

pre {

    background: var(--code-bg);
    color: var(--code-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.46);
}

code {
    padding: 1.25rem;
    font-size: 0.8rem;
    width: 100%;
    text-wrap: wrap;
}

/* Line breaks */

hr {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.34);
}

/* Lists */

ul {
    border-left: 0.1rem solid var(--black);
    margin: 1rem 0;
}



li {
    --top-spacing: calc(var(--default-font-size) * 0.75);
}

ul li{
    --left-gap: 2rem;
    margin-left: var(--left-gap);
    position: relative;
    padding-top: 0.5rem;
}




ul li:before {
    left:calc(var(--left-gap) * -1);
    transform:translateY(var(--top-spacing));
    position: absolute;
    height: 100%;
    width: 1rem;
    content: "";
    border-top: 0.1rem solid var(--black);
}

@media (width <= 40rem) {
    ul li {
        min-height: 3rem;

    }
}

ol li{
    --left-gap: 1.5rem;
    margin-left: var(--left-gap);
    position: relative;
}

ol li:before {
    left:calc(var(--left-gap) * -1);
    top:var(--top-spacing);
    transform:translateY(-50%);
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    content: "";
    rotate: 45deg;
    border-top: 0.2rem solid var(--black);
    border-right: 0.2rem solid var(--black);
}