@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@theme {
    --font-code: "Mono", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*--background: #0a0a0a;*/
        /*--foreground: #ededed;*/
    }
}

body {
    /*background: var(--background);*/
    /*color: var(--foreground);*/
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fade-up-on-view {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.fade-up-on-view.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fade-up-keyframes {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up-once {
    animation: fade-up-keyframes 0.6s ease-out forwards;
    animation-iteration-count: 1
}

:root {
    --bg-color: white;
    --text-color: black;
}

/* Dark theme */
[data-theme='dark'] {
    --bg-color: #000000;
    --text-color: white;
}


.section-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-block: 0.75em;
    cursor: pointer;
    border: solid white 1px;
    font-size: 0.875em;
    transition: all 0.6s ease-out;
    background-color: var(--section-button-default-bg);

}

.section-button:hover {
    background-image: linear-gradient(to bottom left, var(--section-button-hover-color-1), var(--section-button-hover-color-2));
    border-color: var(--section-button-hover-border-color);
    box-shadow: 0 0 3px var(--section-button-shadow-color);

}

.section-button-selected{
    background-image: linear-gradient(to bottom right,var(--section-button-selected-color-1), var(--section-button-selected-color-2));
    border-color: var(--section-button-selected-border-color);
    box-shadow: 0 0 2px var(--section-button-shadow-color);

}
:root{
    --section-button-default-bg: white;
    --section-button-hover-color-1: oklch(0.927 0.032 274.121);
    --section-button-hover-color-2: oklch(0.938 0.022 344.22);
    --section-button-hover-border-color: oklch(87% 0.065 274.039);
    --section-button-shadow-color: oklch(0.791 0.14 308.881);
    --section-button-selected-color-1: oklch(0.834 0.083 277.689);
    --section-button-selected-color-2: oklch(94.8% 0.028 342.258);
    --section-button-selected-border-color: oklch(78.5% 0.115 274.713);
}
[data-theme='dark'] {
    --section-button-default-bg: transparent;
    --section-button-hover-color-1: oklch(20.8% 0.042 265.755);
    --section-button-hover-color-2: oklch(37.9% 0.146 265.522);
    --section-button-hover-border-color: oklch(87% 0.065 274.039);
    --section-button-shadow-color: oklch(0.791 0.14 308.881);
    --section-button-selected-color-1: oklch(12.9% 0.042 264.695);
    --section-button-selected-color-2: oklch(28.2% 0.091 267.935);
    --section-button-selected-border-color: oklch(78.5% 0.115 274.713);
}


/*.def{*/
/*    color:var(--text-color);*/
/*    background-color:var(--bg-color);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    .bg-grad {*/
/*        background-image: linear-gradient(to bottom right, rgb(1, 7, 18), rgb(5, 15, 41), rgb(26, 41, 57));*/
/*    }*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*    .bg-grad {*/
/*        background-image: linear-gradient(to bottom right, rgb(254, 247, 237), white, white);*/

/*    }*/
/*}*/

