:root {
  /* based on the "Catpuccin Machiatto" theme */
  --theme-base00: oklch(27.88% 0.035 276.9);
  --theme-base01: oklch(24.93% 0.03 278.4);
  --theme-base02: oklch(35.38% 0.037 276);
  --theme-base03: oklch(42.59% 0.039 276.9);
  --theme-base04: oklch(49.39% 0.039 275.7);
  --theme-base05: oklch(87.08% 0.048 273.7);
  --theme-base06: oklch(91.05% 0.029 31.13);
  --theme-base07: oklch(81.44% 0.083 279.9);
  --theme-base08: oklch(73.7% 0.125 11.19);
  --theme-base09: oklch(79.88% 0.106 49.64);
  --theme-base0A: oklch(87.9% 0.074 84.75);
  --theme-base0B: oklch(83.5% 0.108 138.2);
  --theme-base0C: oklch(82.14% 0.076 184.1);
  --theme-base0D: oklch(74.97% 0.11 263.8);
  --theme-base0E: oklch(77.15% 0.126 303.9);
  --theme-base0F: oklch(86.29% 0.048 18.12);

  --shaghighi-canvas-gradient-from: var(--theme-base00);
  --shaghighi-canvas-gradient-to: var(--theme-base00);

  --shaghighi-text-primary: var(--theme-base00);
  --shaghighi-text-secondary: var(--theme-base00);

  --shaghighi-strong-1: var(--theme-base00);
  --shaghighi-strong-2: var(--theme-base00);

  --shaghighi-button-primary: var(--theme-base00);
  --shaghighi-button-primary-selected-1: var(--theme-base00);
  --shaghighi-button-primary-selected-2: var(--theme-base00);
  --shaghighi-button-primary-hovered-1: var(--theme-base00);
  --shaghighi-button-primary-hovered-2: var(--theme-base00);
  --shaghighi-button-primary-border: var(--theme-base00);

  --shaghighi-button-secondary-bg: var(--theme-base00);
  --shaghighi-button-secondary-hover-bg: var(--theme-base00);
  --shaghighi-button-secondary-text: var(--theme-base00);
  --shaghighi-button-secondary-hover-text: var(--theme-base00);
  --shaghighi-button-secondary-border: var(--theme-base00);

  --shaghighi-tags-bg: var(--theme-base00);
  --shaghighi-tags-border: var(--theme-base00);
  --shaghighi-tags-text: var(--theme-base00);

  --shaghighi-code-bg: var(--theme-base00);
  --shaghighi-code-text: var(--theme-base00);
  --shaghighi-code-copy-bg: var(--theme-base00);
  --shaghighi-code-copy-fg: var(--theme-base00);
}

[data-theme="dark"] {
  /* based on the "Catpuccin Mocha" theme */
  --theme-base00: oklch(24.29% 0.03 283.9);
  --theme-base01: oklch(21.55% 0.025 284.1);
  --theme-base02: oklch(32.4% 0.032 282);
  --theme-base03: oklch(40.37% 0.032 280.2);
  --theme-base04: oklch(47.65% 0.034 278.6);
  --theme-base05: oklch(87.87% 0.043 272.3);
  --theme-base06: oklch(92.26% 0.024 30.49);
  --theme-base07: oklch(81.66% 0.091 277.3);
  --theme-base08: oklch(75.56% 0.13 2.764);
  --theme-base09: oklch(82.37% 0.101 52.63);
  --theme-base0A: oklch(91.93% 0.07 86.53);
  --theme-base0B: oklch(85.77% 0.109 142.7);
  --theme-base0C: oklch(85.85% 0.079 182.7);
  --theme-base0D: oklch(76.64% 0.111 259.9);
  --theme-base0E: oklch(78.71% 0.119 304.8);
  --theme-base0F: oklch(87.97% 0.042 17.98);

  --shaghighi-canvas-gradient-from: var(--theme-base00);
  --shaghighi-canvas-gradient-to: var(--theme-base00);

  --shaghighi-text-primary: var(--theme-base00);
  --shaghighi-text-secondary: var(--theme-base00);

  --shaghighi-strong-1: var(--theme-base00);
  --shaghighi-strong-2: var(--theme-base00);

  --shaghighi-button-primary: var(--theme-base00);
  --shaghighi-button-primary-selected-1: var(--theme-base00);
  --shaghighi-button-primary-selected-2: var(--theme-base00);
  --shaghighi-button-primary-hovered-1: var(--theme-base00);
  --shaghighi-button-primary-hovered-2: var(--theme-base00);
  --shaghighi-button-primary-border: var(--theme-base00);

  --shaghighi-button-secondary-bg: var(--theme-base00);
  --shaghighi-button-secondary-hover-bg: var(--theme-base00);
  --shaghighi-button-secondary-text: var(--theme-base00);
  --shaghighi-button-secondary-hover-text: var(--theme-base00);
  --shaghighi-button-secondary-border: var(--theme-base00);

  --shaghighi-tags-bg: var(--theme-base00);
  --shaghighi-tags-border: var(--theme-base00);
  --shaghighi-tags-text: var(--theme-base00);

  --shaghighi-code-bg: var(--theme-base00);
  --shaghighi-code-text: var(--theme-base00);
  --shaghighi-code-copy-bg: var(--theme-base00);
  --shaghighi-code-copy-fg: var(--theme-base00);
}

@theme inline {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-canvas-gradient-from: var(--shaghighi-canvas-gradient-from);
  --color-canvas-gradient-to: var(--shaghighi-canvas-gradient-to);

  --color-text-primary: var(--shaghighi-text-primary);
  --color-text-secondary: var(--shaghighi-text-secondary);

  --color-strong-1: var(--shaghighi-strong-1);
  --color-strong-2: var(--shaghighi-strong-2);

  --color-button-primary: var(--shaghighi-button-primary);
  --color-button-primary-selected-1: var(--shaghighi-button-primary-selected-1);
  --color-button-primary-selected-2: var(--shaghighi-button-primary-selected-2);
  --color-button-primary-hovered-1: var(--shaghighi-button-primary-hovered-1);
  --color-button-primary-hovered-2: var(--shaghighi-button-primary-hovered-2);
  --color-button-primary-border: var(--shaghighi-button-primary-border);

  --color-button-secondary-bg: var(--shaghighi-button-secondary-bg);
  --color-button-secondary-hover-bg: var(--shaghighi-button-secondary-hover-bg);
  --color-button-secondary-text: var(--shaghighi-button-secondary-text);
  --color-button-secondary-hover-text: var(
    --shaghighi-button-secondary-hover-text
  );
  --color-button-secondary-border: var(--shaghighi-button-secondary-border);

  --color-tags-bg: var(--shaghighi-tags-bg);
  --color-tags-border: var(--shaghighi-tags-border);
  --color-tags-text: var(--shaghighi-tags-text);

  --color-code-bg: var(--shaghighi-code-bg);
  --color-code-text: var(--shaghighi-code-text);
  --color-code-copy-bg: var(--shaghighi-code-copy-bg);
  --color-code-copy-fg: var(--shaghighi-code-copy-fg);
}
