@import "tailwindcss";

.gradient {
    position: relative;
    background-image: linear-gradient(
            45deg,
            rgba(157, 0, 224,0),
            rgba(75, 0, 224,0)
    );
    z-index: 1;
}

.gradient::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
            225deg,
            rgba(157, 0, 224),
            rgba(75, 0, 224)
    );
    z-index: -1;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    border-radius: 100rem;
}

.gradient:hover::before {
    opacity: 1;
}